{% load static %}
<footer class=" justify-content-center py-2 pt-5 my-2 text-center" style="background-color: black; color: #ffffff;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1" style="font-family: Concert One; ">
                <h1>
                    NBook
                </h1>
            </div>
            <div class="col-md-2"  style="margin-left: 110px;">
                <a href="###"><img src="{% static 'assets/img/whatsapp.png' %}" style="height: 100px; width: 100px;" alt=""></a>
            </div>
            <div class="col-md-2" style="margin-left: 110px;">
                <a href="###"><img src="{% static 'assets/img/instagran.png' %}" style="height: 100px; width: 100px;" alt=""></a>
            </div>
            <div class="col-md-2" style="margin-left: 110px;">
                <a href="###"><img src="{% static 'assets/img/twitter.png' %}" style="height: 100px; width: 100px;" alt=""></a>
            </div>
        </div>
    </div>
    <br>
    <div class="pt-3">
        <p>© Copyright-2024.</p>
    </div>
</footer>

