{% load static %}
<footer class=" justify-content-center py-2 my-5 text-center" style="background-color: black; color: #ffffff;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1" style="font-family: Concert One; ">
                <h1>
                    NBook
                </h1>
            </div>
            <br>
            <div class="col-md-2">
                <img src="{% static 'assets/img/whatsapp.png' %}" style="height: 100px; width: 100px;" alt="">
            </div>
            <br>
            <div class="col-md-2">
                <img src="{% static 'assets/img/instagran.png' %}" style="height: 100px; width: 100px;" alt="">
            </div>
        </div>
    </div>
    <br>
    <div>
        <p>© Copyright-2024.</p>
    </div>
</footer>