{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Titulo da Página</title>
{% endblock %}
{% block content %}
{% include 'partials/navbar.html' %}
<div style="padding-top: 50px; padding-bottom: 50px; margin-top: 15px;">
  <div class="text-center cor" style="padding-bottom: 20px;">
    <h1 style="font-size: 60px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
      Produtos
    </h1>
  </div>
  <div class="container">
    <div class="row">
      {% include 'partials/livros.html' %}
    </div>
  </div>
</div>
<br>
<hr style="color: white;">
<br>
<hr style="color: white;">

      
  {% include 'partials/_footer.html' %}
    
{% endblock %}